.AboutHeader {
  background-color: #244034;
  padding: 100px 0px 100px;
}

.AboutHeadercontent {
  max-width: 800px;
  margin: 0 auto;
  color: white;
}

.AboutHeader .AboutHeadercontent h2 {
  color: white;
  margin: 0;
  margin-bottom: 20px;
  font-size: 4rem;
}

.AboutHeader .AboutHeadercontent p {
  line-height: 1.6;
  margin-bottom: 15px;
}

/* strong {
  font-weight: bold;
} */

/* .aboutContent {
  text-align: left;
  margin: 0 auto;
  max-width: 1200px;
  padding: 100px 0;
}
.aboutContent p {
  padding: 20px 0;
} */

@media (max-width: 450px) {
  .AboutHeader .AboutHeadercontent h2 {
    font-size: 2.5rem;
  }
}

/* ////////About info section - below header//////////// */

.AboutInfoSection {
  display: flex;
  max-width: 1200px;
  margin: 100px auto;
  margin-bottom: 150px;
  justify-content: space-between;
}

.AboutInfoSectionLeft,
.AboutInfoSectionRight {
  width: 50%;
}

.AboutInfoSectionLeft h2 {
  font-size: 4.5rem;
  font-weight: 300;
  margin: 0;
  text-align: left;
  line-height: 1.3;
}

/* /////////Accordion Section////////// */
/* AccordionMenu.css */
.accordion-section {
  margin-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.accordion-header {
  /* background-color: #f0f0f0; */
  padding: 10px;
  cursor: pointer;
  /* border-bottom: 1px solid lightgray; */
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
  color: #244034;
}

.accordion-content {
  padding: 10px;
  /* border: 1px solid #ddd; */
  border-top: none;
  text-align: left;
  padding-bottom: 50px;
}

.plusminus {
  color: #244034;
  font-size: 1.5rem;
  margin: 0;
  font-family: sans-serif;
}

/* ///////////MEDIA QUERY ACCORDIAN SECTION ////////// */

@media (max-width: 1200px) {
  .AboutInfoSection {
    flex-direction: column;
  }
  .AboutInfoSectionLeft,
  .AboutInfoSectionRight {
    width: 100%;
  }
  .AboutInfoSectionLeft br {
    display: none;
  }
  .AboutInfoSectionLeft {
    display: flex;
    justify-content: center;
  }
  .AboutInfoSectionLeft h2 {
    text-align: center;
    /* font-size: 2.5rem; */
  }
  .AboutInfoSectionRight {
    width: 85%;
    margin: 20px auto;
  }
}

@media (max-width: 850px) {
  .AboutInfoSectionLeft h2 {
    /* text-align: center; */
    font-size: 2.5rem;
    margin: 10px;
  }
}
@media (max-width: 380px) {
  .AboutInfoSectionLeft h2 {
    /* text-align: center; */
    font-size: 1.8rem;
    margin: 10px;
  }
}

/*/////////// video section /////////////*/

.video-container {
  position: relative;
  width: 1267px;
  height: 712.6px;
  max-width: 1200px;
  margin: 100px auto;
}

.video-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #244034;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  cursor: pointer;
  border-radius: 20px;
}

.video-cover:hover {
  background: #2b5040;
}

@media (max-width: 1200px) {
  .video-container {
    width: 633.5px;
    height: 356.3px;
    display: flex;
    justify-content: center;
  }
  .video-container iframe {
    width: 600px;
    height: 356.3px;
  }
}

@media (max-width: 650px) {
  .video-container {
    width: 316.75px;
    height: 178.15px;
  }
  .video-container iframe {
    width: 300px;
    height: 178.15px;
  }
}

@media (max-width: 345px) {
  .video-container {
    width: 253.4px;
    height: 142.52px;
  }
  .video-container iframe {
    width: 240px;
    height: 142.52px;
  }
}

/*////////////// Stats Section //////////////////////*/
.jobiStats {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: space-around;
  border-bottom: 1px solid lightgray;
  padding-bottom: 50px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.jobistat {
  padding: 20px;
  color: #244034;
}

.jobistat h3 {
  font-size: 4.5rem;
  font-weight: 300;
  margin: 0;
}

.jobistat p {
  margin: 0;
  font-size: 1.2rem;
}

@media (max-width: 650px) {
  .jobistat h3 {
    font-size: 2.5rem;
  }
}

/*////////////// post a job Section //////////////////////*/
.postAJobContainer {
  display: flex;
  margin: 150px auto;
  max-width: 1200px;
}

.postAJobRight {
  text-align: left;
}

.postjobtopnote {
  text-transform: uppercase;
  margin: 0;
  color: lightgray;
  font-size: 0.9rem;
}
.postAJobRight h3 {
  font-size: 3.5rem;
  color: #254035;
  font-weight: 500;
  margin: 0;
}

.postAJobRightPara {
  line-height: 1.8;
  color: rgb(0, 0, 0, 0.7);
}

.postAJobRight ul {
  list-style: none;
  /* margin: 0; */
  padding-left: 0;
  margin-bottom: 30px;
}

.postAJobRight ul li {
  display: flex;
  gap: 10px;
}
.postAJobRight ul li p {
  margin: 7px 0;
}

.postJobbutton {
  padding: 10px 30px;
  border-radius: 30px;
  border: none;
  background-color: #dffa73;
}

@media (max-width: 1200px) {
  .postAJobLeft {
    display: flex;
    justify-content: center;
  }
  .postAJobLeft img {
    width: 70%;
  }
}

@media (max-width: 970px) {
  .postAJobContainer {
    flex-direction: column;
  }
  .postAJobRight {
    text-align: center;
    margin: 0px 30px;
  }
  .postAJobRight ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .postAJobRight h3 {
    font-size: 2.5rem;
  }
  .postAJobRight h3 br {
    display: none;
  }
}

@media (max-width: 400px) {
  .postAJobRight h3 {
    font-size: 2rem;
  }

  .postAJobRightPara {
    line-height: 1.3;
  }
  .postAJobRight ul li p {
    margin: 3px 0;
  }
}

/* ///////////Leading Startups Section///////// */

.LeadingStartups {
  padding: 100px 0;
}

.LeadingHeaderSection {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.leadHeader h3 {
  text-align: left;
  font-size: 4.5rem;
  font-weight: 300;
  margin: 0;
  line-height: 1;
  color: #244034;
}

.leadButtons {
  display: flex;
  gap: 10px;
  /* justify-content: center; */
  /* align-items: center; */
}

.leadingstatupcaroselContainer {
  max-width: 1200px;
  margin: 50px auto;
  display: flex;
  gap: 40px;
}

.startup {
  /* width: 640px;
  height: 530px; */
  width: 50%;
  background-color: #dffa73;
  padding: 30px;
  text-align: left;
  border-radius: 30px;
  border: 1px solid black;
}

.startup2 {
  background-color: #f9ffe1;
}

.startupText {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

.startup h3 {
  font-size: 2.5rem;
  line-height: 1.2;
}

.startup hr {
  border-top: 1px solid black;
  /* border: none; */
}

.ratingContainer {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 0;
}

.ratingContainer p {
  margin: 0;
}

@media (max-width: 1220px) {
  .LeadingHeaderSection {
    margin: 0 30px;
  }
  .leadHeader h3 {
    font-size: 2.5rem;
  }
  .leadingstatupcaroselContainer {
    margin: 50px 30px;
  }
  .startup h3 {
    font-size: 2rem;
  }
}

@media (max-width: 900px) {
  .startup img {
    width: 100px;
  }
  .startup h3 {
    font-size: 1.5rem;
  }
}
@media (max-width: 700px) {
  .startup {
    padding: 20px;
  }
  .startup h3 {
    font-size: 1rem;
  }
}

@media (max-width: 580px) {
  .startup2 {
    display: none;
  }
  .leadingstatupcaroselContainer {
    justify-content: center;
  }
  .startup {
    width: 100%;
  }
}
@media (max-width: 490px) {
  .leadHeader h3 {
    font-size: 1.5rem;
  }
}

/* ///////////////Company Logos///////// */

.companyLogos {
  max-width: 1200px;
  margin: 100px auto 0px;
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  border-bottom: 1px solid lightgray;
  padding-bottom: 150px;
}

@media (max-width: 600px) {
  .companyLogos {
    gap: 2rem;
  }
  .companyLogos img {
    width: 100px;
  }
}
