.contact-page {
  /* max-width: 800px; */
  margin: 0 auto;
  /* padding: 20px; */
}

.outer-contact-container {
  background-color: #244034;
}

.contact-container {
  /* max-width: 800px; */
  padding: 100px 0 150px 0;
  color: white;
  margin: 0 auto;
  max-width: 800px;
}

.contact-container h2 {
  padding: 0;
  margin: 0;
  padding: 30px 0 70px;
  font-size: 4rem;
  color: white;
}

.contact-details {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.contact-info {
  flex: 1;
  margin-right: 20px;
}

.address-containers {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 100px auto;
  justify-content: space-around;
}

.contact-form {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* contact form */

.contact-form {
  /* padding: 40px; */
  border-radius: 8px;
  max-width: 800px;

  margin: 50px auto;
}

.nameandemail {
  display: flex;
  gap: 20px;
  /* margin-bottom: 20pxs; */
}

.form-label {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 10px;
}

.nameandemailinner {
  width: 50%;
  /* gap: 10px; */
}

/* .form-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
} */

.form-input {
  padding: 10px;
  background-color: rgb(240, 238, 238);
  border: none;
  border-radius: 8px;
  margin-top: 10px;
}

.submit-button {
  background-color: green;
  color: #fff;
  padding: 15px 50px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.625rem;
  width: 100%;
  text-transform: uppercase;
  margin-top: 20px;
}

.submit-button:hover {
  background-color: rgb(40, 94, 40);
}

.form-label textarea {
  font-family: sans-serif;
}

@media (max-width: 1200px) {
  .contact-container p {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .contact-container h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 800px) {
  .contact-form-container {
    width: 80%;
    /* display: flex; */
    margin: 0 auto;
  }
}

@media (max-width: 530px) {
  .nameandemail {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .nameandemailinner {
    width: 100%;
  }
}
