.JobBoardContainer {
  background-color: #244034;
  padding: 100px 0 50px;
  color: white;
}

.JobBoardContainer h2 {
  margin: 0;
  font-size: 4rem;
}

.JobBoardForm {
  margin: 50px 0;
}

.fullSearchBar {
  display: flex;
  justify-content: center;
}

.fullInput {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  /* border: 2px solid blue; */
  border: none;
  border-radius: 10px 0px 0px 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.fullInput input {
  outline: none;
  border: none;
  display: block;
  line-height: 1.2em;
  font-size: 14px;
}

.fullInput label {
  display: block;
  font-size: 12px;
  color: lightgray;
  padding-bottom: 5px;
}

.fullInputCategory {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  /* border: 2px solid blue; */
  border: none;
  /* border-radius: 0px 10px; */
  display: flex;
  flex-direction: column;
  text-align: left;
  /* width: 250px; */
}

.fullInputCategory select {
  outline: none;
  border: none;
  display: block;
  line-height: 1.2em;
  font-size: 14px;
  width: 250px;
}

.fullInputCategory label {
  display: block;
  font-size: 12px;
  color: lightgray;
  padding-bottom: 5px;
}

.fullInputCategoryContainer {
  border-left: 1px solid lightgray;
  padding-left: 20px;
}

.fullSearchBar button {
  padding: 25px 30px;
  border: none;
  background-color: #d2f34c;
  font-size: 12px;
  border-radius: 0px 10px 10px 0px;
}

/* filter section */

.filter-container {
  /* margin-bottom: 20px; */
  margin: 50px auto 0;
  max-width: 1200px;
  /* width: 100%; */
}

.filter-container button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  align-items: center;
}

.filter-container button p {
  font-size: 1.1rem;
  font-weight: bold;
}

.filter-button {
  padding: 10px;
  background-color: #eff6f3;
  color: black;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.filter-content {
  /* margin-top: 10px; */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0px 0px 20px 20px;
  border: none;
  background-color: #eff6f3;
}
.filter-content-info {
  border-top: 1px solid lightgrey;
  width: 95%;
  margin: 0 auto;
  padding: 50px 0 50px;
}

/* //////////////////////Filter Section///////////////// */

.filterJobView {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: space-between;
  padding: 20px;
}

.filterOption {
  display: flex;
  /* flex-direction: ; */
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.displayfilter {
  padding: 5px 20px;
  border-radius: 20px;
}

/* //////////////////////Individual Post///////////////// */

.jobPostings {
  padding-bottom: 150px;
}

.jobPostings ul {
  padding: 0;
  margin: 0 auto;
  max-width: 1200px;
}

.jobPostings ul li {
  list-style: none;
  margin: 20px 0;
}

.job-list {
  padding: 0;
  margin: 20px auto;
  max-width: 1200px;
  /* margin: 20px ; */
}

.IndividJob {
  display: flex;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding-left: 50px;
  margin: 20px 0;
}

.jobTitle {
  width: 150px;
}

.IndividJob p {
  padding: 0;
  margin: 10px 0;
}

.companyImage {
  width: 100px;
  /* height: 50px; */
}

.ApplyandBookmark {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.apply {
  padding: 10px 40px;
  background-color: green;
  color: white;
  text-decoration: none;
  border-radius: 20px;
}

/* /////////////////MEDIA QUERY//////////////////// */
@media (max-width: 1200px) {
  .filter-container {
    margin: 50px 20px 0;
  }
}

@media (max-width: 1050px) {
  .jobPostings ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
  }

  .jobPostings ul li {
    margin: 10px;
  }

  .job-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
  }

  .IndividJob {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
  }
  .jobTitle {
    width: 100%;
    text-align: center;
  }
  .contractType {
    text-align: left;
    width: 100%;
  }

  .contractType p {
    margin: 0;
  }
  .jobLocation {
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
  }
  .jobLocation p {
    margin: 0;
  }

  .ApplyandBookmark {
    width: 100%;
  }
  .ApplyandBookmark a {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 680px) {
  .JobBoardContainer h2 {
    font-size: 2.5rem;
  }

  .fullInputCategory {
    display: none;
  }
}

@media (max-width: 420px) {
  .filterJobView {
    flex-direction: column-reverse;
  }
}

@media (max-width: 380px) {
  .IndividJob {
    width: 250px;
    /* font-size: 1rem; */
    padding: 15px;
  }
  .jobTitle {
    font-size: 1.1rem;
  }

  .fullSearchBar {
    flex-direction: column;
    /* width: 100%; */
    align-items: center;
    /* width: 300px; */
    margin: 0 auto;
  }
  .fullInput {
    border-radius: 10px 10px 0 0;
    width: 200px;
  }
  .fullSearchBar button {
    border-radius: 0 0 10px 10px;
    padding: 20px 30px;
    width: 240px;
  }
}
