.pricingHeaderContainer {
  background-color: #244034;
  color: white;
}

.pricingHeader {
  margin: 0 auto;
  max-width: 1200px;
  padding-bottom: 100px;
}

.pricingHeader h2 {
  margin: 0;
  padding: 100px 0;
  font-size: 4rem;
}

.pricingHeader h4 {
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
}

/* pricing section */
/* PricingPlans.css */

.pricing-plans {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  margin: 100px auto;
  max-width: 1200px;
}

.plan {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 45%;
}

.premium-plan {
  border: 2px solid #4caf50; /* Customize the border color for the premium plan */
}

.plan h2 {
  color: #333;
}

.price {
  font-size: 1.5rem;
  color: #4caf50; /* Customize the price color */
  margin: 10px 0;
}

.plan ul {
  list-style-type: none;
  padding: 0;
}

.plan li {
  margin: 8px 0;
  color: #555;
}

.select-button {
  background-color: #4caf50; /* Customize the button color */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.select-button:hover {
  background-color: #45a049; /* Customize the button color on hover */
}
