.pricingHeaderContainer {
  background-color: #244034;
  color: white;
}

.pricingHeader {
  margin: 0 auto;
  max-width: 1200px;
  padding-bottom: 100px;
}

.pricingHeader h2 {
  margin: 0;
  padding: 100px 0;
  font-size: 4rem;
}

.pricingHeader h4 {
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
}

/* /////////////Pricing Columns////////////////// */

.pricing-container {
  display: flex;
  justify-content: space-around;
  margin: 50px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 100px auto;
}

.pricing-column {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  border-radius: 10px;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
  width: 300px;
  margin: 20px 10px;
}

.pricing-column:hover {
  transform: scale(1.05);
}

.pricing-column h2 {
  color: #333;
  margin: 0;
  text-align: left;
  /* text-decoration: underline; */
  position: relative;
  padding-bottom: 10px;
}

.pricing-column h2::after {
  background-color: darkgreen;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 20px;
}

.price {
  font-size: 20px;
  color: #4caf50;
  margin: 10px 0;
  text-align: left;
}

.price strong {
  font-size: 3rem;
}

.description {
  font-size: 14px;
  /* color: #555; */
  margin-bottom: 15px;
  text-align: left;
}

.pricing-column ul {
  list-style-type: none;
  padding: 0;
}

.pricing-column ul li {
  margin: 10px 0;
  text-align: left;
}

.pricing-column ul li::before {
  content: "\2713"; /* Unicode checkmark character */
  margin-right: 10px;
  color: #4caf50; /* Checkmark color */
}

.get-started-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 40px;
}

.get-started-button:hover {
  background-color: #45a049;
}

.pricing-column-two {
  position: relative;
  border: 2px solid #45a049;
}

.popularLabel {
  background-color: #45a049;
  border-radius: 5px;
  color: white;
  font-size: 0.625rem;
  font-weight: 500;
  left: 50%;
  line-height: 1.25rem;
  padding: 5px 10px;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  transform: translate(-50%) translateY(-50%);
}

@media (max-width: 500px) {
  .pricingHeader h2 {
    font-size: 2.5rem;
  }
  .pricingHeader h4 {
    width: 80%;
    margin: 0 auto;
  }
  .pricingHeader p {
    width: 80%;
    margin: 20px auto;
  }
}
