.construction-page {
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.construction-container {
  text-align: center;
}

.construction-title {
  font-size: 3em;
  margin-bottom: 20px;
  color: darkgreen; /* Bootstrap's danger color */
}

.construction-text {
  font-size: 1.2em;
  margin-bottom: 15px;
}

.constructionImageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.construction-image {
  width: 20%;
  border-radius: 8px;
  margin-top: 20px;
}
